<!DOCTYPE html>
<html>
    <head>
        <title>MVC</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        {# import css #}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" type="text/css" href="build/app.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href='{{ app.request.getBaseURL() }}/'>Home</a> |
                {# <a href='{{ app.request.getBaseURL() }}/session'>Session</a> |
                <a href='{{ app.request.getBaseURL() }}/debug'>Debug</a> |
                <a href='{{ app.request.getBaseURL() }}/twig'>Twig view</a> |
                <a href='{{ app.request.getBaseURL() }}/some/where'>some/where</a> |
                <a href='{{ app.request.getBaseURL() }}/no/such/path'>Show 404 example</a> |
                <a href='{{ app.request.getBaseURL() }}/dice'>Dice</a> | #}
                <a href='{{ app.request.getBaseURL() }}/game21'>Game 21</a>
                <a href='{{ app.request.getBaseURL() }}/yatzee'>Yatzy</a>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>This is the footer.</p>
        </footer>
    </body>
</html>
