{% extends "mvc-layout.html.twig" %}

{% block content %}
<div class="game21-wrapper">
    <h1 class="game-title">{{ header }}</h1>

    {% if chartArray['playsLeft'] > 0 %}
        <form method="POST" class="diceBox" action="{{ app.request.getBaseURL() }}/yatzee/re-roll">

            {% for dieface in app.session.get('rolledValues') %}
                <input type="checkbox" name="selectedDice[]" id="die{{ n }}" value={{ n }} />
                <label name="selectedDice[]" for="die{{ n }}">
                    <img src="../img/dice-{{ dieface }}.png" alt="die{{ dieface }}">
                </label>
                {% set n = n + 1 %}
            {% endfor %}
            <div class="rerolls-section">
                {% if app.session.get('rollsLeft') > 0 %}
                    <button type="submit" class="roll-button">Re-roll</button>
                {% else %}
                    <h1 class >NO ROLLS LEFT</h1>
                {% endif %}
            </div>
        </form>

        <form method="POST" action="{{ app.request.getBaseURL() }}/yatzee/score" class="diceBox">
            <button type="submit" class="roll-button">CALCULATE</button>
        </form>

        <div class="possible-scores">
            <form method="POST" action="{{ app.request.getBaseURL() }}/yatzee/record-score" class="diceBox">
            {% if app.session.get('possibleScores') %}
                <div class="radio-scores">
                    
                        {% for key, score in app.session.get('possibleScores') %}
                            <input type="radio"  name="selectedScore" value="{{ key }}" id="{{ key }}" 
                                {% if not chartArray[key] is empty or chartArray[key] > -1 %}
                                    disabled
                                {% endif %}
                                <label for="{{ key }}" 
                                {% if not chartArray[key] is empty or chartArray[key] > -1 %}
                                    style="text-decoration: line-through"
                                {% endif %}
                                >
                                {{ key }}'s score {{ app.session.get('possibleScores')[key] }}
                                </label><br>
                        {% endfor %}
                    
                </div>
                <button type="submit" class="roll-button">Record Score</button>
                {% endif %}
            </form>
        </div>
    {% endif %}

    <div class="game-score">
        <p>Score card</p>

        <table class="rounds">
            <tr>
                <th>Category</th>
                <th>Score</th>
            </tr>
            {% if not chartArray == null %}
                {% for key in chartArray|keys %}
                    {% if key != "playsLeft" %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ chartArray[key] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </table>

    </div>

    <p>
        <a href='{{ app.request.getBaseURL() }}/yatzee/save-score'>
            <input type='submit' class="new-game-button" value='RESET SCORE / PLAY NEW GAME'/>
        </a>
    </p>

</div>
{% endblock %}
